<div class="container">
  <div class="load-background" [class.running]="this.loading">
    <div class="spinner"></div>
    <div class="card mt-4">
      <div class="card-header text-center">
        <span class="h3 text-uppercase">Listado de Empleados</span>
      </div>
      <div class="card-body">
        <div class="d-flex justify-content-between mb-3">
          <input type="text" class="form-control-md" placeholder="Buscar Empleado" #txtSearch (keyup)="onSearchEmpleado( txtSearch.value )">
          <button class="btn btn-dark btn-sm" routerLink="/create-empleado">Agregar</button>
        </div>
        <div *ngIf="empleados.length === 0" class="text-center d-none" [class.d-block]="!this.loading">
          <h5>No hay registros por mostrar</h5>
        </div>
        <table *ngIf="empleados.length > 0" class="list_empleados table table-striped table-hover table-responsive-sm table-responsive-md table-align-center">
          <thead class="thead-dark">
            <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Imagen</th>
              <th>Salario</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let empleado of empleados | filtro:page:elementsByPage:search">
              <td>{{empleado.nombre}}</td>
              <td>{{empleado.apellido}}</td>
              <td><img src="{{empleado.imagen}}" alt="" class="profile_image"></td>
              <td>{{empleado.salario | currency }}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm rounded-circle mr-2" [routerLink]="['/edit-empleado/', empleado.id]">
                  <i class="fa-solid fa-pen-to-square text-white"></i>
                </button>
                <!-- <button (click)="eliminarEmpleado(empleado)" type="button" class="btn btn-danger btn-sm rounded-circle">
                  <i class="fa-solid fa-trash text-white"></i>
                </button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="buttons_container">
          <button class="btn btn-sm btn-dark" (click)="prevPage()">Anteriores</button>
          <button class="btn btn-sm btn-dark" (click)="nextPage()">Siguientes</button>
        </div>
        <div class="d-flex align-items-center flex-column-reverse">
          <span>Total de elementos: <span #empleadosCount>{{ empleados | filtroCount:search}}</span></span>
          <span>Página {{ currentPage }} de {{lastPage}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
